astroquery
cassandra-driver
elasticsearch
elasticsearch-dsl
pandasticsearch
freeopcua
hide-code
opcua-client
opcua-modeler
opcua-widgets
plotly>=3.0
psycopg2
pyelasticsearch
python-redmine
rsa
websocket-client
xxhash
arrow
hide_code
jupyter_nbextensions_configurator
#appmode
nbpresent
autopep8
isort
svn
